name: Backup Repositories

on:
  schedule:
    - cron: '0 */2 * * *'  
  workflow_dispatch:
  
jobs:
  backup:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Backup Repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.GH_TOKEN }}

      - name: Clone xiaomaoJT_QxScript
        run: |
          git clone --depth=1 https://github.com/xiaomaoJT/QxScript xiaomaoJT_QxScript
          rm -rf "QxScript(xiaomaoJT)"
          mkdir -p "QxScript(xiaomaoJT)"
          mv xiaomaoJT_QxScript/* "QxScript(xiaomaoJT)/"
          rm -rf xiaomaoJT_QxScript

      - name: Clone blackmatrix7_ios_rule_script
        run: |
          git clone --depth=1 https://github.com/blackmatrix7/ios_rule_script blackmatrix7_ios_rule_script
          rm -rf "ios_rule_script(blackmatrix7)"
          mkdir -p "ios_rule_script(blackmatrix7)"
          mv blackmatrix7_ios_rule_script/* "ios_rule_script(blackmatrix7)/"
          rm -rf blackmatrix7_ios_rule_script

      - name: Clone NobyDa_Script
        run: |
          git clone --depth=1 https://github.com/NobyDa/Script NobyDa_Script
          rm -rf "Script(NobyDa)"
          mkdir -p "Script(NobyDa)"
          mv NobyDa_Script/* "Script(NobyDa)/"
          rm -rf NobyDa_Script    

      - name: Clone limbopro_Adblock4limbo
        run: |
          git clone --depth=1 https://github.com/limbopro/Adblock4limbo limbopro_Adblock4limbo
          rm -rf "Adblock4limbo(limbopro)"
          mkdir -p "Adblock4limbo(limbopro)"
          mv limbopro_Adblock4limbo/* "Adblock4limbo(limbopro)/"
          rm -rf limbopro_Adblock4limbo    

      - name: Clone VirgilClyne_iRingo
        run: |
          git clone --depth=1 https://github.com/VirgilClyne/iRingo VirgilClyne_iRingo
          rm -rf "iRingo(VirgilClyne)"
          mkdir -p "iRingo(VirgilClyne)"
          mv VirgilClyne_iRingo/* "iRingo(VirgilClyne)/"
          rm -rf VirgilClyne_iRingo

      - name: Clone app2smile_rules
        run: |
          git clone --depth=1 https://github.com/app2smile/rules app2smile_rules
          rm -rf "rules(app2smile)"
          mkdir -p "rules(app2smile)"
          mv app2smile_rules/* "rules(app2smile)/"
          rm -rf app2smile_rules    

      - name: Clone Semporia_TikTok-Unlock
        run: |
          git clone --depth=1 https://github.com/Semporia/TikTok-Unlock Semporia_TikTok_Unlock
          rm -rf "TikTok-Unlock(Semporia)"
          mkdir -p "TikTok-Unlock(Semporia)"
          mv Semporia_TikTok_Unlock/* "TikTok-Unlock(Semporia)/"
          rm -rf Semporia_TikTok_Unlock

      - name: Clone deezertidal_QuantumultX-Rewrite
        run: |
          git clone --depth=1 https://github.com/deezertidal/QuantumultX-Rewrite deezertidal_QuantumultX_Rewrite
          rm -rf "QuantumultX-Rewrite(deezertidal)"
          mkdir -p "QuantumultX-Rewrite(deezertidal)"
          mv deezertidal_QuantumultX_Rewrite/* "QuantumultX-Rewrite(deezertidal)/"
          rm -rf deezertidal_QuantumultX_Rewrite    

      - name: Clone TributePaulWalker_Profiles
        run: |
          git clone --depth=1 https://github.com/TributePaulWalker/Profiles TributePaulWalker_Profiles
          rm -rf "Profiles(TributePaulWalker)"
          mkdir -p "Profiles(TributePaulWalker)"
          mv TributePaulWalker_Profiles/* "Profiles(TributePaulWalker)/"
          rm -rf TributePaulWalker_Profiles
          
      - name: Clone zxfccmm4_Surge
        run: |
          git clone --depth=1 https://github.com/zxfccmm4/Surge zxfccmm4_Surge
          rm -rf "Surge(zxfccmm4)"
          mkdir -p "Surge(zxfccmm4)"
          mv zxfccmm4_Surge/* "Surge(zxfccmm4)/"
          rm -rf zxfccmm4_Surge     
      
      - name: Clone zqzess_rule_for_quantumultX
        run: |
          git clone --depth=1 https://github.com/zqzess/rule_for_quantumultX zqzess_rule_for_quantumultX
          rm -rf "rule_for_quantumultX(zqzess)"
          mkdir -p "rule_for_quantumultX(zqzess)"
          mv zqzess_rule_for_quantumultX/* "rule_for_quantumultX(zqzess)/"
          rm -rf zqzess_rule_for_quantumultX         
          
      - name: Clone 89996462_Quantumult
        run: |
          git clone --depth=1 https://github.com/89996462/Quantumult-X 89996462_Quantumult
          rm -rf "Quantumult-X(89996462)"
          mkdir -p "Quantumult-X(89996462)"
          mv 89996462_Quantumult/* "Quantumult-X(89996462)/"
          rm -rf 89996462_Quantumult    

      - name: Clone ddgksf2013_ddgksf2013
        run: |
          git clone --depth=1 https://github.com/ddgksf2013/ddgksf2013 ddgksf2013_ddgksf2013
          rm -rf "ddgksf2013(ddgksf2013)"
          mkdir -p "ddgksf2013(ddgksf2013)"
          mv ddgksf2013_ddgksf2013/* "ddgksf2013(ddgksf2013)/"
          rm -rf ddgksf2013_ddgksf2013     
          
      - name: Clone ddgksf2013_Profile
        run: |
          git clone --depth=1 https://github.com/ddgksf2013/Profile ddgksf2013_Profile
          rm -rf "Profile(ddgksf2013)"
          mkdir -p "Profile(ddgksf2013)"
          mv ddgksf2013_Profile/* "Profile(ddgksf2013)/"
          rm -rf ddgksf2013_Profile     
          
      - name: Clone ddgksf2013_Rewrite
        run: |
          git clone --depth=1 https://github.com/ddgksf2013/Rewrite ddgksf2013_Rewrite
          rm -rf "Rewrite(ddgksf2013)"
          mkdir -p "Rewrite(ddgksf2013)"
          mv ddgksf2013_Rewrite/* "Rewrite(ddgksf2013)/"
          rm -rf ddgksf2013_Rewrite     

      - name: Clone ddgksf2013_Filter
        run: |
          git clone --depth=1 https://github.com/ddgksf2013/Filter ddgksf2013_Filter
          rm -rf "Filter(ddgksf2013)"
          mkdir -p "Filter(ddgksf2013)"
          mv ddgksf2013_Filter/* "Filter(ddgksf2013)/"
          rm -rf ddgksf2013_Filter     
          
      - name: Clone ddgksf2013_Scripts
        run: |
          git clone --depth=1 https://github.com/ddgksf2013/Scripts ddgksf2013_Scripts
          rm -rf "Scripts(ddgksf2013)"
          mkdir -p "Scripts(ddgksf2013)"
          mv ddgksf2013_Scripts/* "Scripts(ddgksf2013)/"
          rm -rf ddgksf2013_Scripts     

      - name: Clone Yu9191_Rewrite
        run: |
          git clone --depth=1 https://github.com/Yu9191/Rewrite Yu9191_Rewrite
          rm -rf "Rewrite(Yu9191)"
          mkdir -p "Rewrite(Yu9191)"
          mv Yu9191_Rewrite/* "Rewrite(Yu9191)/"
          rm -rf Yu9191_Rewrite     

      - name: Clone Marol62926_Quantumultx
        run: |
          git clone --depth=1 https://github.com/Marol62926/Quantumultx Marol62926_Quantumultx
          rm -rf "Quantumultx(Marol62926)"
          mkdir -p "Quantumultx(Marol62926)"
          mv Marol62926_Quantumultx/* "Quantumultx(Marol62926)/"
          rm -rf Marol62926_Quantumultx

      - name: Clone Marol62926_MarScrpt
        run: |
          git clone --depth=1 https://github.com/Marol62926/MarScrpt Marol62926_MarScrpt
          rm -rf "MarScrpt(Marol62926)"
          mkdir -p "MarScrpt(Marol62926)"
          mv Marol62926_MarScrpt/* "MarScrpt(Marol62926)/"
          rm -rf Marol62926_MarScrpt

      - name: Update timestamp
        run: echo "Backup run at $(date)" > backup-timestamp.txt
        
      - name: Commit and Push Changes
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          git config --global user.name "github-actions[bot]"
          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git add .
          if git diff-index --quiet HEAD; then
            echo "No changes detected, adding timestamp file."
            echo "Backup run at $(date)" > backup-timestamp.txt
            git add backup-timestamp.txt
            git commit -m "$(date +'%Y-%m-%d %H:%M:%S')"
          else
            git commit -m "Automated backup $(date +'%Y-%m-%d %H:%M:%S')"
          fi
          git remote set-url origin https://x-access-token:${GH_TOKEN}@github.com/wangyuyan666/QuanxBackup.git
          git push origin main
